<!-- Count numbers are static make it dynamic -->

<div class="stat">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-university fa-3x"></i>
      <span class="stat-count highlight">3715</span>
      <div class="milestone-details"><%=t :name %></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-user fa-3x"></i>
      <span class="stat-count highlight">1843- ಇತ್ತೀಚಿನವರೆಗೆ</span>
      <div class="milestone-details"><%=t :years %></div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-print fa-3x"></i>
      <span class="stat-count highlight">2587</span>
      <div class="milestone-details"><%=t :publisher %></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="milestone-counter">
      <i class="fa fa-book fa-3x"></i>
      <span class="stat-count highlight">3000</span>
      <div class="milestone-details"><%=t :editor %></div>
    </div>
  </div>
</div><!-- stat -->
