<div class="main-search">
  <div class="intoduction-text">
    <p align="center">
      ಕರ್ನಾಟಕದ ಪತ್ರಿಕಾ ಜಗತ್ತು ಕಂಡ ಎಲ್ಲ ಪತ್ರಿಕೆಗಳ ಪರಿವಿಡಿ - ಪತ್ರಿಕಾ ಸಂಚಯ.
      <br />
      ಪತ್ರಿಕೆಯ ಹೆಸರು, ಪ್ರಾರಂಭದ ವರ್ಷ, ಪ್ರಕಟಿಸಿದ/ಪ್ರಸರಣೆಯ ಸ್ಥಳ,	ಪ್ರಕಾಶಕರು,	ಸ್ಥಾಪಕ ಸಂಪಾದಕ/ಸಂಪಾದಕ,	ಆವರ್ತಕತೆ,	ಭಾಷೆ‌ಯ ಆಧಾರದ ಮೇಲೆ ಪತ್ರಿಕೆಗಳನ್ನು ಹುಡುಕಬಹುದಾಗಿದೆ.
    </p>
  </div>
  <hr />
  <div class="form-group main-search-field">
    <%= form_tag root_path, method: :get do %>
    <%= search_field_tag "search" ,params[:search], autofocus: params[:search] ? false : true , class: 'form-control kan-ime', placeholder: "#{t(:huduku)}" %>
    <% end %>
    <p class="search-bottom-text">ಈ ಯೋಜನೆ ಸಮುದಾಯದ ಕೆಲಸವಾಗಿದ್ದು, ಇಲ್ಲಿರುವ ಪತ್ರಿಕೆಗಳ ಮಾಹಿತಿ ಕನ್ನಡೀಕರಿಸುವ, ಇಲ್ಲಿ ಲಭ್ಯವಿಲ್ಲದ ಪತ್ರಿಕೆಗಳ ಮಾಹಿತಿ ಸೇರಿಸುವ ಕೆಲಸಕ್ಕೆ ನೀವು ಸಂಚಯದೊಂದಿಗೆ ಕೈಜೋಡಿಸಬಹುದಾಗಿದೆ.

    </p>
  </div>
  <hr />
</div>


<% if params && params[:search] && !params[:search].blank? %>
<div class="word-lists">
  <%= render 'book_lists' %>
</div>
<% else %>
<%= render 'stats' %>
<% end %>
‍
